body {
    font-family: Arial;
    margin: 0;
    background: #f5f6fa;
}

/* Centered login card */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card UI */
.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

/* Buttons */
button {
    width: 100%;
    padding: 10px;
    background: #2f80ed;
    color: white;
    border: none;
    cursor: pointer;
}

/* Navbar */
.navbar {
    background: #2f80ed;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

/* Container */
.container {
    padding: 20px;
}